<h1>Dashboard</h1>

<hr>
<div>
    <a href="/{{dbUser._id}}">
        <h3>{{dbUser.username}}</h3>
    </a>
    <h6>email: {{dbUser.email}}</h6> 
    <h6>Admin Role: {{dbUser.admin}}</h6>
    <h6>User Role: {{dbUser.user}}</h6>
    <h6>Guest Role: {{dbUser.guest}}</h6> 

    {{#each dbUser.wallets}}
    <hr />
    <div>
       

    </div>
    {{/each}}

</div>
<hr>